@using TeamManager.Manual.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Team Manager Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/img/green_riders_logo.jpg" width="45" height="45" alt="">
                    | Team Manager
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Races" class="nav-link">@Localizer["Races"]</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Users" class="nav-link">@Localizer["Riders"]</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Points" class="nav-link">@Localizer["Pontok"]</a>
                        </li>
                        @if (User.IsInRole(Roles.BILL_MANAGER))
                        {
                            <li class="nav-item">
                                <a asp-action="Overview" asp-controller="Bills" class="nav-link">@Localizer["Bills"]</a>
                            </li>
                        }
                    </ul>
                </div>
                <nav class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Details" asp-controller="Users" class="nav-item m-1">@Localizer["My profile"]</a>
                        <a asp-action="Logout" asp-controller="Account" class="nav-item m-1">@Localizer["Logout"]</a>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account" class="nav-item m-1">@Localizer["Login"]</a>
                        <a asp-action="Index" asp-controller="Registration" class="nav-item m-1">@Localizer["Register"]</a>
                    }
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Green Riders / Emil Péter Hegyi - <a asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>
</html>
