@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<TeamManager.Manual.Web.SharedResources> StringLocalizer
@model UserViewModel

<div class="col-lg-3">
    <h3>@Localizer["Personal data"]</h3>
    <div class="form-group">
        <label asp-for="FirstName">@Localizer["First name"]</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">@Localizer["Last name"]</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">@Localizer["Birth date"]</label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthPlace">@Localizer["Birth place"]</label>
        <input asp-for="BirthPlace" class="form-control" />
        <span asp-validation-for="BirthPlace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MothersName">@Localizer["Mother's name"]</label>
        <input asp-for="MothersName" class="form-control" />
        <span asp-validation-for="MothersName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">@Localizer["Phone number"]</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">@Localizer["Gender"]</label>
        <select asp-for="Gender" asp-items="@EnumHelper<Gender>.GetSelectListItems(StringLocalizer)" class="form-control">
            <option label="@Localizer["Select your gender"]" value=""></option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TShirtSize">@Localizer["T-shirt size"]</label>
        <select asp-for="TShirtSize" asp-items="@Html.GetEnumSelectList<Size>()" class="form-control">
            <option label="@Localizer["Select your T-shirt size"]" value=""></option>
        </select>
        <span asp-validation-for="TShirtSize" class="text-danger"></span>
    </div>
</div>
<div class="col-lg-3">
    <h3>@Localizer["Address"]</h3>
    <div class="form-group">
        <label asp-for="ZipCode">@Localizer["Zip code"]</label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">@Localizer["City"]</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street">@Localizer["Street"]</label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HouseNumber">@Localizer["House number"]</label>
        <input asp-for="HouseNumber" class="form-control" />
        <span asp-validation-for="HouseNumber" class="text-danger"></span>
    </div>
</div>
<div class="col-lg-3">
    <h3>@Localizer["Identifiers"]</h3>
    <div class="form-group">
        <label asp-for="IDNumber">@Localizer["ID number"]</label>
        <input asp-for="IDNumber" class="form-control" />
        <span asp-validation-for="IDNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AKESZ"></label>
        <input asp-for="AKESZ" class="form-control" />
        <span asp-validation-for="AKESZ" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UCI">@Localizer["UCI licence"]</label>
        <input asp-for="UCI" class="form-control" />
        <span asp-validation-for="UCI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Triathlon">@Localizer["Triathlon licence"]</label>
        <input asp-for="Triathlon" class="form-control" />
        <span asp-validation-for="UCI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Otproba">@Localizer["5proba number"]</label>
        <input asp-for="Otproba" class="form-control" />
        <span asp-validation-for="Otproba" class="text-danger"></span>
    </div>
</div>