@model UserResultsViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Results of"] + Model.FirstName + " " + Model.LastName;
}

<h1>@Localizer["Results of"] @Model.FirstName @Model.LastName</h1>
@if (Model.Results == null || Model.Results.Count() == 0)
{
    @Localizer["No results yet."]
}
else
{
    <table class="table table-responsive-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["Race"]</th>
                <th>@Localizer["Abs."]</th>
                <th>@Localizer["Cat."]</th>
                <th>@Localizer["Image"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Results)
            {
                <tr>
                    <td>@string.Format("'{0}",result.RaceDate.Value.ToString("yy.MM.dd"))</td>
                    <td>@result.Race</td>
                    <td>@result.AbsoluteResult.Value</td>
                    <td>@result.CategoryResult</td>
                    <td>
                        @if(!string.IsNullOrEmpty(result.Image))
                        {
                            <a href="@result.Image" target="_blank" class="btn btn-primary btn-sm">@Localizer["View"]</a>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole(Roles.POINT_CONSUPTION_MANAGER))
                        {
                            <form asp-action="ChangeImageValidationStatus" method="post">
                                <input type="hidden" name="resultId" value="@result.ResultId" />
                                <input type="hidden" name="userId" value="@Model.UserId" />
                                @if (result.ResultIsValid.HasValue && result.ResultIsValid.Value)
                                {
                                    <input type="submit" value="@Localizer["Discard result"]" />
                                }
                                else
                                {
                                    <input type="submit" value="@Localizer["Accept result"]" />
                                }
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Index" asp-controller="Users" class="btn btn-link m-2">@Localizer["Back"]</a>
</div>