@model UserResultsViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Results of"] + Model.FirstName + " " + Model.LastName;
}

<h1>@Localizer["Results of"] @Model.FirstName @Model.LastName</h1>
<div class="card-deck m-1">
    @if (Model.Results == null || Model.Results.Count() == 0)
    {
        @Localizer["No results yet."]
    }
    else
    {
        foreach (var result in Model.Results)
        {
            @if (!string.IsNullOrEmpty(result.Image))
            {
                <div class="card m-1" style="width: 12rem;">
                    <img src="@result.Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@result.Race</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@result.RaceDate.Value.ToString("yyyy.MM.dd")</h6>
                        <p class="card-text">
                            @if (result.CategoryResult.HasValue)
                            {
                                <span>@Localizer["Cat."] @result.CategoryResult</span>
                            }
                            @if (result.AbsoluteResult.HasValue)
                            {
                                <span>@Localizer["Abs."] @result.AbsoluteResult.Value</span>
                            }
                            @if (result.IsStaff)
                            {
                                <span class="badge badge-pill badge-primary">@Localizer["Staff"]</span>
                            }
                            @if (result.IsDriver)
                            {
                                <span class="badge badge-pill badge-info">@Localizer["Driver"]</span>
                            }
                        </p>
                        @if (User.IsInRole(Roles.POINT_CONSUPTION_MANAGER))
                        {
                            <form asp-action="ChangeImageValidationStatus" method="post">
                                <input type="hidden" name="resultId" value="@result.ResultId" />
                                <input type="hidden" name="userId" value="@Model.UserId" />
                                @if (result.ImageIsValid.HasValue && result.ImageIsValid.Value)
                                {
                                    <input type="submit" value="@Localizer["Unverify image"]" />
                                }
                                else
                                {
                                    <input type="submit" value="@Localizer["Verify image"]" />
                                }
                            </form>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="card m-1" style="width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">@result.Race</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@result.RaceDate.Value.ToString("yyyy.MM.dd")</h6>
                        <p class="card-text">
                            @if (result.CategoryResult.HasValue)
                            {
                                <span>@Localizer["Cat."] @result.CategoryResult</span>
                            }
                            @if (result.AbsoluteResult.HasValue)
                            {
                                <span>@Localizer["Abs."] @result.AbsoluteResult.Value</span>
                            }
                            @if (result.IsStaff)
                            {
                                <span class="badge badge-pill badge-primary">@Localizer["Staff"]</span>
                            }
                            @if (result.IsDriver)
                            {
                                <span class="badge badge-pill badge-info">@Localizer["Driver"]</span>
                            }
                        </p>
                    </div>
                </div>
            }
        }
    }
</div>
