@model UserModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<h1>@Model.FirstName @Model.LastName</h1>
<h2>@Localizer["Personal data"]</h2>
<table class="table">
    <tr>
        <th>@Localizer["Mother's name"]</th>
        <td>@Model.MothersName</td>
    </tr>
    <tr>
        <th>@Localizer["Birth date"]</th>
        <td>@Model.BirthDate.ToString("yyyy.MM.dd")</td>
    </tr>
    <tr>
        <th>@Localizer["Birth place"]</th>
        <td>@Model.BirthPlace</td>
    </tr>
    <tr>
        <th>@Localizer["Address"]</th>
        <td>@string.Format($"{Model.ZipCode} {Model.City} {Model.Street} {Model.HouseNumber}")</td>
    </tr>
    <tr>
        <th>@Localizer["Phone number"]</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>@Localizer["T-Shirt size"]</th>
        <td>@Model.TShirtSize</td>
    </tr>
    <tr>
        <th>@Localizer["ID Number"]</th>
        <td>@Model.IDNumber</td>
    </tr>
    <tr>
        <th>@Localizer["AKESZ number"]</th>
        <td>@Model.AKESZ</td>
    </tr>
    <tr>
        <th>@Localizer["UCI Number"]</th>
        <td>@Model.UCI</td>
    </tr>
    <tr>
        <th>@Localizer["Ötpróba number"]</th>
        <td>@Model.Otproba</td>
    </tr>
    <tr>
        <th>@Localizer["Triathlete number"]</th>
        <td>@Model.Triathlon</td>
    </tr>
</table>
<a asp-controller="RaceResults" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Results"]</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Edit"]</a>
@if (User.IsInRole(Roles.USER_MANAGER))
{
    @if(!Model.VerifiedByAdmin)
    {
        <a asp-action="Verify" asp-route-id="@Model.Id" class="btn btn-success">@Localizer["Verify"]</a>
    }

    <a asp-action="Index" class="btn btn-link">@Localizer["Back"]</a>
}
