@model UserModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"] + $" {Model.FullName}";
}

<h1>@Model.FullName</h1>
<form asp-action="Edit" method="post">
    <div class="row">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Email" value="@Model.Email" />
        <input type="hidden" asp-for="VerifiedByAdmin" value="@Model.VerifiedByAdmin" />
        @await Html.PartialAsync("_UserFieldsPartial", Model)
    </div>
    <hr />
    <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
    <a asp-action="Details" class="btn btn-link">@Localizer["Back"]</a>
</form>

