@model PointsViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Points"];
}

<div class="m-2">
    <h1>@Localizer["Collected points"]</h1>
    <h4>@Localizer["Races"]</h4>
    @if (Model.Results == null || Model.Results.Count == 0)
    {
        @Localizer["No points gained yet from races."]
    }
    else
    {
        <table class="table table-responsive-sm">
            <thead class="thead-light">
                <tr>
                    <th>@Localizer["Race"]</th>
                    <th>@Localizer["Point weight"]</th>
                    <th>@Localizer["Absolute result"]</th>
                    <th>@Localizer["Category result"]</th>
                    <th>@Localizer["Driver"]</th>
                    <th>@Localizer["Staff"]</th>
                    <th>@Localizer["Points"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td style="white-space:nowrap">@result.Race</td>
                        <td>@result.RacePointWeight</td>
                        <td>@result.AbsoluteResult</td>
                        <td>@result.CategoryResult</td>
                        <td>
                            @if (result.IsDriver)
                            {<span class="badge badge-pill badge-success">@Localizer["Yes"]</span>}
                        </td>
                        <td>
                            @if (result.IsStaff)
                            {<span class="badge badge-pill badge-success">@Localizer["Yes"]</span>}
                        </td>
                        <td>@result.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <h4>@Localizer["Bills"]</h4>
    @if (Model.Bills == null || Model.Bills.Bills == null || Model.Bills.Bills.Count == 0)
    {
        @Localizer["No points gained yet from bills."]
    }
    else
    {
        <table class="table table-responsive-sm">
            <thead class="thead-light">
                <tr>
                    <th>@Localizer["Purchase date"]</th>
                    <th>@Localizer["Value"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Bills.Bills)
                {
                    <tr>
                        <td>@result.PurchaseDate.ToString("yyyy.MM.dd")</td>
                        <td>@result.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Localizer["All gained points from bills:"] @Model.Bills.Points
        </div>
    }
    <div>
        <a asp-action="Add" asp-controller="Bills" class="btn btn-outline-primary m-2">@Localizer["Add new bill"]</a>
    </div>
    @{
        int allGainedPoints = Model.Results.Sum(x => x.Points) + Model.Bills.Points;
    }
    <h2>
        @Localizer["All gained points:"] @allGainedPoints
    </h2>
    <hr />
    <h1>@Localizer["Consumed points"]</h1>
    @if (Model.ConsumedPoints == null || Model.ConsumedPoints.Count == 0)
    {
        @Localizer["No points consumed yet."]
    }
    else
    {
        <table class="table table-responsive-sm">
            <thead class="thead-light">
                <tr>
                    <th>@Localizer["Consumed at"]</th>
                    <th>@Localizer["Amount"]</th>
                    <th>@Localizer["Recorded by"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consumedPoint in Model.ConsumedPoints)
                {
                    <tr>
                        <td>@consumedPoint.CreatedAt.ToString("yyyy.MM.dd HH:mm")</td>
                        <td>@consumedPoint.Amount</td>
                        <td>@consumedPoint.CreatedBy</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Localizer["All consumed points:"] @Model.ConsumedPoints.Sum(x => x.Amount)
        </div>
    }
    @if (User.IsInRole(Roles.POINT_CONSUPTION_MANAGER))
    {
        <div>
            <a asp-action="AddConsumedPoints" class="btn btn-primary m-2" asp-route-id="@Model.UserId">@Localizer["Add"]</a>
        </div>
    }
</div>