@model PointsViewModel

@{
    ViewData["Title"] = "Points";
}

<h1>Collected points</h1>
@if (Model.CollectedPoints == null || Model.CollectedPoints.Count == 0)
{
    <div class="row">
        No points gained yet.
    </div>
}
else
{
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Race</th>
                    <th>Point weight</th>
                    <th>Absolute result</th>
                    <th>Category result</th>
                    <th>Driver</th>
                    <th>Staff</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.CollectedPoints)
                {
                    <tr>
                        <td>@result.Race</td>
                        <td>@result.RacePointWeight</td>
                        <td>@result.AbsoluteResult</td>
                        <td>@result.CategoryResult</td>
                        <td>
                            @if (result.IsDriver)
                            {<span class="badge badge-pill badge-success">Yes</span>}
                        </td>
                        <td>
                            @if (result.IsStaff)
                            {<span class="badge badge-pill badge-success">Yes</span>}
                        </td>
                        <td>@result.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        All gained points: @Model.CollectedPoints.Sum(x => x.Points)
    </div>
}
<hr />
<h1>Consumed points</h1>
@if (Model.ConsumedPoints == null || Model.ConsumedPoints.Count == 0)
{
    <div class="row">
        No points consumed yet.
    </div>
}
else
{
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Consumed at</th>
                    <th>Amount</th>
                    <th>Recorded by</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consumedPoint in Model.ConsumedPoints)
                {
                    <tr>
                        <td>@consumedPoint.CreatedAt.ToString("yyyy.MM.dd HH:mm")</td>
                        <td>@consumedPoint.Amount</td>
                        <td>@consumedPoint.CreatedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        All consumed points: @Model.ConsumedPoints.Sum(x => x.Amount)
    </div>
}

<div>
    <a asp-action="AddConsumedPoints" class="btn btn-primary m-2" asp-route-id="@Model.UserId">Add</a>
</div>