@model PointsViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Points"];
}

<h1>@Localizer["Collected points"]</h1>
@if (Model.CollectedPoints == null || Model.CollectedPoints.Count == 0)
{
    <div class="row">
        @Localizer["No points gained yet."]
    </div>
}
else
{
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>@Localizer["Race"]</th>
                    <th>@Localizer["Point weight"]</th>
                    <th>@Localizer["Absolute result"]</th>
                    <th>@Localizer["Category result"]</th>
                    <th>@Localizer["Driver"]</th>
                    <th>@Localizer["Staff"]</th>
                    <th>@Localizer["Points"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.CollectedPoints)
                {
                    <tr>
                        <td>@result.Race</td>
                        <td>@result.RacePointWeight</td>
                        <td>@result.AbsoluteResult</td>
                        <td>@result.CategoryResult</td>
                        <td>
                            @if (result.IsDriver)
                            {<span class="badge badge-pill badge-success">@Localizer["Yes"]</span>}
                        </td>
                        <td>
                            @if (result.IsStaff)
                            {<span class="badge badge-pill badge-success">@Localizer["Yes"]</span>}
                        </td>
                        <td>@result.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @Localizer["All gained points:"] @Model.CollectedPoints.Sum(x => x.Points)
    </div>
    <div>
        <a asp-action="Add" asp-controller="Bills" class="btn btn-outline-primary m-2">@Localizer["Add new bill"]</a>
    </div>
}
<hr />
<h1>@Localizer["Consumed points"]</h1>
@if (Model.ConsumedPoints == null || Model.ConsumedPoints.Count == 0)
{
    <div class="row">
        @Localizer["No points consumed yet."]
    </div>
}
else
{
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>@Localizer["Consumed at"]</th>
                    <th>@Localizer["Amount"]</th>
                    <th>@Localizer["Recorded by"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consumedPoint in Model.ConsumedPoints)
                {
                    <tr>
                        <td>@consumedPoint.CreatedAt.ToString("yyyy.MM.dd HH:mm")</td>
                        <td>@consumedPoint.Amount</td>
                        <td>@consumedPoint.CreatedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @Localizer["All consumed points:"] @Model.ConsumedPoints.Sum(x => x.Amount)
    </div>
}
@if (User.IsInRole(Roles.POINT_CONSUPTION_MANAGER))
{
    <div>
        <a asp-action="AddConsumedPoints" class="btn btn-primary m-2" asp-route-id="@Model.UserId">@Localizer["Add"]</a>
    </div>
}
