@model RaceDetailsModel
@using TeamManager.Manual.Data

@{
    ViewData["Title"] = Model.BaseModel.Name;
}

<h1>@Model.BaseModel.Name</h1>
@if(Model.EntriedRiders == null || Model.EntriedRiders.Count == 0 && Model.BaseModel.EntryDeadline > DateTime.Now)
{
    <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@Model.BaseModel.Id">Delete race</a>
}
else
{
    <div class="alert alert-danger">Race cannot be deleted, because there are entried riders or the entry deadline is over.</div>
}
<div class="row">
    <table class="col-md-6 table">
        <tr>
            <th>Date</th>
            <td>@Model.BaseModel.Date?.ToString("yyyy.MM.dd")</td>
        </tr>
        <tr>
            <th>Locality</th>
            <td>@Model.BaseModel.CityString</td>
        </tr>
        <tr>
            <th>Distances</th>
            <td>@Model.BaseModel.DistancesString</td>
        </tr>
        <tr>
            <th>Entry deadline</th>
            <td>@Model.BaseModel.EntryDeadline?.ToString("yyyy.MM.dd HH:mm")</td>
        </tr>
        <tr>
            <th>Race type</th>
            <td>@(Model.BaseModel.TypeOfRace.HasValue ? EnumHelper<RaceType>.GetDisplayValue(Model.BaseModel.TypeOfRace.Value) : "")</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>
                @if (!string.IsNullOrEmpty(Model.BaseModel.Website))
                {
                    <a href="@Model.BaseModel.Website">@Model.BaseModel.Website</a>
                }
            </td>
        </tr>
        <tr>
            <th>Remark</th>
            <td>@Model.BaseModel.Remark</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>@Model.BaseModel.PointWeight</td>
        </tr>
        <tr>
            <th>Applied riders</th>
            <td>
                @if (Model.EntriedRiders == null || Model.EntriedRiders.Count == 0)
                {
                    @:-
                }
                else
                {
                    <ul>
                        @foreach (var item in Model.EntriedRiders)
                        {
                            <li>
                                @item.FullName
                            </li>
                        }
                    </ul>
                }

            </td>
        </tr>
    </table>
</div>
<div class="row">
    @if (Model.BaseModel.EntryDeadline > DateTime.Now)
    {
        if (!Model.UserApplied)
        {
            <form asp-action="AddEntry" method="post" class="form-inline">
                <input name="id" id="id" type="hidden" value="@Model.BaseModel.Id" />
                <input type="submit" class="btn btn-success m-1" value="Apply" />
            </form>
        }
        else
        {
            <form asp-action="RemoveEntry" method="post" class="form-inline">
                <input name="id" id="id" type="hidden" value="@Model.BaseModel.Id" />
                <input type="submit" class="btn btn-danger m-1" value="Remove entry" />
            </form>
        }
    }
    @if(Model.BaseModel.Date < DateTime.Now)
    {
        <a asp-action="Add" asp-controller="RaceResults" asp-route-id="@Model.BaseModel.Id" class="btn btn-success m-1">Add result</a>
    }
    <a asp-action="Index" class="btn btn-primary m-1">Back</a>
</div>

