@addTagHelper TeamManager.Manual.Infrastructure.TagHelpers.RaceDateTagHelper, TeamManager.Manual.Web

@using TeamManager.Manual.Data
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<TeamManager.Manual.Web.SharedResources> StringLocalizer
@model IList<RaceModel>
@{
    ViewBag.Title = Localizer["Races"];
}

<div class="row m-2">
    <h1>@Localizer["Races"]</h1>
    <div class="text-center m-3" style="width: 100%">
        <raceDate number-of-months="4" start-month="@ViewBag.Month" start-year="@ViewBag.Year"></raceDate>
    </div>

    @if (Model == null || Model.Count == 0)
    {
            <hr />
            <h5>@Localizer["No races in the database for this month."]</h5>
    }
    else
    {
        <table class="table table-hover table-responsive-sm">
            <thead class="thead-light text-center">
                <tr>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Race name"]</th>
                    <th>@Localizer["Type"]</th>
                    <th>@Localizer["City"]</th>
                    <th>@Localizer["Distances"]</th>
                    <th>@Localizer["Entry deadline"]</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var race in Model)
            {
                <tr>
                    <td>@race.Date?.ToString("yyyy.MM.dd")</td>
                    <td style="white-space:nowrap;">@race.Name</td>
                    <td>
                        @(race.TypeOfRace.HasValue ? EnumHelper<RaceType>.GetDisplayValue(race.TypeOfRace.Value, StringLocalizer) : "")
                    </td>
                    <td>
                        @race.CityString
                    </td>
                    <td>
                            @race.DistancesString
                        </td>
                    <td>@race.EntryDeadline?.ToString("yyyy.MM.dd HH:mm")</td>
                    <td class="text-center">
                        <a asp-action="Details" class="btn btn-sm btn-primary" asp-route-id="@race.Id">@Localizer["View"]</a>
                        @if (User.IsInRole(Roles.RACE_MANAGER))
                        {
                            <a asp-action="Edit" class="btn btn-sm btn-outline-dark" asp-route-id="@race.Id">@Localizer["Edit"]</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    
</div>
<div class="row m-2">
    @if (User.IsInRole(Roles.RACE_MANAGER))
    {
        <a asp-action="Add" class="btn btn-primary btn-sm mr-1">@Localizer["New"]</a>
    }
    @if (User.IsInRole(Roles.USER_MANAGER))
    {
        <a asp-action="AddResultToUser" asp-controller="RaceResults" class="btn btn-primary btn-sm mr-1">@Localizer["New user result"]</a>
    }
    <a asp-action="Add" asp-controller="RaceResults" class="btn btn-primary btn-sm">@Localizer["Add Result"]</a>
</div>
