@inject IViewLocalizer Localizer
@model IList<Bill>

@{
    ViewData["Title"] = Localizer["Bill overview"];
}

<h1>@ViewData["Title"]</h1>
@if (Model == null || Model.Count == 0)
{
    @Localizer["There aren't any bills in the database yet."]
}
else
{
    <table class="table table-responsive-sm table-hover">
        <thead class="thead-light">
            <tr>
                @if (User.IsInRole(Roles.BILL_MANAGER))
                {
                    <th>@Localizer["User"]</th>
                }
                <th>@Localizer["Purchase date"]</th>
                <th>@Localizer["Amount"]</th>
                <th>@Localizer["Download link"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model)
            {
                <tr>
                    @if (User.IsInRole(Roles.BILL_MANAGER))
                    {
                        <td>@bill.User.FirstName @bill.User.LastName</td>
                    }
                    <td>@bill.PurchaseDate.ToString("yyyy.MM.dd")</td>
                    <td>@bill.Amount</td>
                    <td><a href="@bill.Url" class="btn btn-sm btn-primary">@Localizer["View"]</a></td>
                    <td>
                        @if (User.IsInRole(Roles.BILL_MANAGER))
                        {
                            <a asp-action="Delete" asp-route-billId="@bill.Id" class="btn btn-sm btn-danger">@Localizer["Delete"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h5>
        @Localizer["All gained points from bills:"] @Model.Sum(x => x.Points)
    </h5>
}
<div>
    <a asp-action="Add" asp-controller="Bills" class="btn btn-sm btn-primary m-2">@Localizer["Add new bill"]</a>
</div>
