@model UserModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<h1>@Model.FirstName @Model.LastName</h1>
<div>
    <table class="table">
        <tr>
            <td>Birth date</td>
            <td>@Model.BirthDate.ToString("yyyy.MM.dd")</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@string.Format($"{Model.ZipCode} {Model.City} {Model.Street} {Model.HouseNumber}")</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Shirt size</td>
            <td>@Model.TShirtSize</td>
        </tr>
        <tr>
            <td>AKESZ</td>
            <td>@Model.AKESZ</td>
        </tr>
        <tr>
            <td>UCI Number</td>
            <td>@Model.UCI</td>
        </tr>
        <tr>
            <td>Ötpróba number</td>
            <td>@Model.Otproba</td>
        </tr>
        <tr>
            <td>Triathlete number</td>
            <td>@Model.Triathlon</td>
        </tr>
    </table>
</div>
